<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/crud.css">
    <title>Gerenciar Herois</title>
</head>

<body>
    <!-- <article id="msg">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </article> -->
    <nav id="nav-bar">
        <ul id="lista-nav">
            <li><a href="/wikiM">Marvel</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/wikiDc">DC</a></li>
        </ul>
    </nav>

    <section id="conteiner">

        {% if super_heroe == '' %}
        <h3> Adicione um personagem </h3>
        {% else %}
        <h3> Edite o personagem </h3>
        <!-- <a href="/crud"><h3>Adicione um Personagem</h3></a> -->
        {% endif %}

        <div>

            {% if super_heroe != undefined %}
            {% if super_heroe == "" %}
            <form action="/new" method="POST" id="formulario">
                {% else %}
                <form action="/edite/{{super_heroe.id}}" method="POST" id="formulario">
                    {% endif %}
                    {% endif %}

                    <div id="container-form">
                        <input type="text" placeholder="Digite o nome do personagem" name="nome"
                            value="{{super_heroe.nome}}">
                        <input type="text" placeholder="Digite o link da imagem" name="foto"
                            value="{{super_heroe.foto}}">
                        <select name="editora" id="universo">
                            <option value="disabled">Selecione</option>
                            {% if super_heroe.editora == 'marvel' %}
                            <option value="marvel" selected>Marvel</option>
                            <option value="dc">DC</option>
                            {% elif super_heroe.editora == 'dc' %}
                            <option value="marvel">Marvel</option>
                            <option value="dc" selected>DC</option>
                            {% else %}
                            <option value="marvel">Marvel</option>
                            <option value="dc">DC</option>
                            {% endif %}
                        </select>
                    </div>
                    <textarea name="descricao" maxlength="300" id="descricao" cols="30" rows="10"
                        placeholder="Digite a descrição do personagem"> {{super_heroe.descricao}} </textarea>

                    {% if super_heroe == "" %}
                    <button type="submit" class="cp"> Adicionar </button>
                    {% else %}
                    <button type="submit" class="cp"> Editar </button>
                    {% endif %}

                </form>

                <div id="lista-heroes">
                    <h2>Lista Personagens</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Editora</th>
                                <th>Descrição</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for heroe in super_heroes %}
                            <tr>
                                <td>
                                    {{heroe.id}}
                                </td>
                                <td class="lista-nomes">
                                    {{heroe.nome}}
                                </td>
                                <td>
                                    {{heroe.editora}}
                                </td>
                                <td>
                                    {{heroe.descricao}}
                                </td>
                                <td>
                                    <a href="/edite/{{heroe.id}}"><button class="btn-editar">Editar</button></a>
                                    <a href="/{{heroe.id}}"><button class="btn-apagar">Apagar</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

        </div>
    </section>



    {% if deleteHeroe != undefined %}
    <section class="modal">
        <div id="card">

            <a href="/adm" id="fechar"><i class="fa fa-times" aria-hidden="true"></i></a>
            <h2>Confirmação</h2>
            <hr>

            <p> Deseja realmente apagar o heroe: {{deleteHeroe.nome}} </p>
            <div id="btns">
                <a class="btn-cancelar" id="close" href="/crud">Cancelar</a>
                <a class="btn-apagar" href="/delete/{{deleteHeroe.id}}">Apagar</a>
            </div>
        </div>
    </section>
    {% endif %}
    <script src="../static/js/login.js"></script>

</body>

</html>