<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/desenvol.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Desenvolvedores</title>

</head>

<body>
    <main>
        <header>
            <!-- <h1>Desenvolvedores</h1> -->
            <header>
                <nav>
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/wikiM">Marvel</a></li>
                    <li><a href="/wikiDc">DC</a></li>
                    <li><a href="/login">ADM</a></li>
                  </ul>
                </nav>
              </header>
        </header>
    </main>
    <section>
        <div class="desen">
            <img id="i1" src="../static/img/guilherme-removebg-preview.png">
            <h2> Guilherme</h2>
            <div id="icons1">
                <a href="https://www.linkedin.com/in/guilherme-correa-s/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>

                <a href="https://github.com/guilherme-correa-s
                " target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>

            </div>
        </div>
        <div class="desen">
            <img id="i2" src="../static/img/jhon-removebg-preview.png">
            <h2> Jhonathan</h2>
            <div id="icons2">
                <a href="https://www.linkedin.com/in/jhonathan-pinheiro" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>

                <a href="https://github.com/JhonathanPinheiro " target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>

                <a href="https://www.instagram.com/jhonathan_pinheiro" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="desen">
            <img id="i3" src="../static/img/luiz.png">
            <h2> Luiz Fernando</h2>
            <div id="icons3">
                <a href="https://www.linkedin.com/in/luiz-fernando-dondici-628a3b1b1/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>

                <a href="https://github.com/LuizFernandoDondici" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>

                <a href="https://www.instagram.com/lfdondici/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="desen">
            <img id="i4" src="../static/img/foto.jpg">
            <h2> Tyfani</h2>
            <div id="icons4">
                <a href="https://www.linkedin.com/in/tyfaniabreu/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>

                <a href="https://github.com/Tyfani21" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>

                <a href="https://www.instagram.com/tyfani_abreu/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>
        </div>


    </section>



</body>

</html>